.container {
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    box-sizing: border-box;
    width: 800px;
}
.BLACKPINK1 {
    font-family: 'Lucida Sans';font-size: xx-large;color: black;
    text-align: center;
}body {
    background-image: url("iceCream.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size:center;
}
.BP1 {
    display:flex;
    flex-direction: row;
    flex-flow: column;
    height: auto;
    justify-content: center;
    margin : 0 auto;
    max-resolution: top 100px;
    text-align: center;
}
.BP1 .jennie{
    font-family:Impact;font-size: large;color:rgb(59, 34, 34);
    width: 100px;
    padding-top: 20px;
    padding-bottom: 40px;
    padding: 5px;
    margin: 10px;
}
.BP1 .jisoo {
    margin: 10px;
    font-family: Impact;font-size: large;color: rgb(59, 34, 34);
    width: 100px;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.BP1 .Lalisa {
    margin: 10px;
    font-family: Impact;font-size: large;color:rgb(59, 34, 34);
    width: 100px;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 40px;    
}
.BP1 .Rosie {
    font-family: Impact;font-size: large;color: rgb(59, 34, 34);
    width: 100px;
    margin: 10px;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 40px;
}
.p1 {
    color:black;
}
.p2 {
    color: black;
}
.p3 {
    color:black;
}
.p4 {
    color: black;
}

a:link {
    color: orangered;
}

a:visited {
    color:wheat;
}